/* header區塊 */
.header-bg-image {
  background-image: url(img/brand_story.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
